*{
    margin: 0;
    padding: 0;
}
.header{
    border: 2px solid black;
    height: 100px;
    background-color: rgb(146, 187, 50);

}
.left{
    border: 2px solid black;
    height: 500px;
    background-color:rgb(146, 187, 50);
}
.middle{
    border: 2px solid black;
    background-color: rgb(146, 187, 50);
    height: 350px;
}
.right{
    border: 2px solid black;    
    height: 135px;
    background-color: rgb(146, 187, 50);
}

.container
{
    width: 1000px;
}
